  <link rel="stylesheet" href="~/css/index.css">
  
  <header class="header1">
      <div class="header-container">
        <div class="header-container-inner">
          <h1>Comfort Meets Speed, Every Day of the Year 🚗✨</h1>
          <p>
            365 days of luxurious performance, blending breathtaking power with unparalleled comfort. Drive the perfect balance, wherever the road takes you!
          </p>
          <a asp-controller="Vehicle" asp-action="AllVehicles" asp-route-categoryID=1 class="btn">Sport cars</a>
        </div>
      </div>
      
    </header>
    <header class="header2">
      <div class="header-container">
        <div class="header-container-inner2">
          <h1>Own the Horizon, One Ride at a Time 🌅🏍️</h1>
          <p>
            Where comfort meets power, and every journey becomes a legend. Dare to ride differently!
          </p>
          <a asp-controller="Vehicle" asp-action="AllVehicles" asp-route-categoryID=3 class="btn">Motorcycles</a>
        </div>
      </div>
      
    </header>
    <header class="header3">
      <div class="header-container">
        <div class="header-container-inner">
          <h1>Silence the Ordinary, Electrify the Future ⚡🚘</h1>
          <p>
            Unmatched comfort, cutting-edge innovation, and zero compromise. Drive the change, every single day.
          </p>
          <a asp-controller="Vehicle" asp-action="AllVehicles" asp-route-categoryID=2 class="btn">Electrical Cars</a>
        </div>
      </div>
      
    </header>
